.sider-chat {
  height: 91vh;
  width: 20%;

  border-right: 1px solid #eee;
  overflow-y: auto;

  & .ant-list-item {
    cursor: pointer;
    transition: all 0.3s;
    padding: 2em;

    &:hover {
      background-color: #e6f7ff;
      z-index: 10;
    }

    & .ant-list-item-meta-description {
      color: rgba(0, 0, 0, 0.45);
      font-size: 14px;
      line-height: 1.5715;
      overflow: hidden;
      height: 25px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  &__list-chater {
    height: 100%;
    width: 100%;
    overflow: auto;
    position: relative;

    & .ant-list-item:hover {
      background-color: #faeaf2;
    }
  }
}
