.chat {
  height: 100vh;
  width: 100vw;
  overflow: auto;

  &__header {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-image: linear-gradient(to right, #f857a6 0%, #ff5858 51%, #f857a6 100%);
    color: #fff;
  }

  &__content {
    width: 100%;
    height: 92%;
    min-height: 860px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__1st {
      height: 100%;
      width: 20%;

      border-right: 1px solid #eee;

      & .ant-list-item {
        cursor: pointer;
        transition: all 0.3s;
        padding: 2em;

        &:hover {
          background-color: #e6f7ff;
          z-index: 10;
        }
      }

      &__header {
        width: 100%;
        height: 10%;
        padding: 1rem;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__search {
          width: 70% !important;

          & button {
            background-color: #f857a6;
            border-color: #f857a6;

            &:hover {
              background-color: #f857a5cc;
              border-color: #f857a5cc;
            }
          }
        }
      }
      &__list-chater {
        height: 90%;
        width: 100%;
        overflow: auto;
        position: relative;
      }
    }

    &__2nd {
      width: 60%;
      height: 100%;

      display: flex;
      flex-direction: column;

      &__header {
        padding: 0 1rem;
        width: 100%;
        height: 10%;
        border-bottom: 1px solid #eee;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
      }
      &__chat-box {
        padding: 0 1rem;
        display: flex;
        // justify-content: flex-end;
        flex-flow: column nowrap;
        width: 100%;
        height: 660px;
        overflow-y: auto;
        flex: 9;

        & > :first-child {
          margin-top: auto !important;
        }

        & .ant-comment-inner {
          padding-bottom: 0px;
        }
      }
      &__input {
        width: 100%;
        height: 15%;
        padding: 1rem;
        flex: 1;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &__form {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
        }

        & .ant-space-item:first-child {
          width: 100%;
        }

        & textarea {
          width: 100%;
          height: 85%;
          background-color: #f5f5f5;
          border-radius: 10px;
          padding: 1rem;
          border: none;
          &:focus {
            outline: none;
          }
        }

        &__btn-send {
          width: 10%;
          height: 100%;
          background-color: hsla(331, 92%, 66%) !important;
          border: none !important;
        }
      }
    }

    &__3th {
      width: 20%;
      height: 100%;
      border-left: 1px solid #eee;
      padding: 1rem;

      & > .ant-collapse {
        border: none;
        & > .ant-collapse-item {
          background-color: #fff;
          transition: 0.3s;
          &:hover {
            background-color: hsla(331, 92%, 66%, 0.1);
          }
        }
      }
      &__btn {
        cursor: pointer;
        border: none;
        background-color: #fff;
        border-radius: 8px;
        width: 100%;
        height: 40px;

        display: flex;
        align-items: center;

        transition: 0.3s;

        & > p {
          margin: 0 1rem;
        }

        &:hover {
          background-color: hsla(331, 92%, 66%, 0.1);
        }
      }
    }
  }
}

.ant-list-item-meta-description {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.chat__content__1st__list-chater::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.ant-list-item:hover {
  box-shadow: 0 0 4px #eee;
  background-color: hsla(331, 92%, 66%, 0.1) !important;
}
