.content-chat {
  width: 80%;
  display: flex;
  &__2nd {
    width: 80%;
    max-height: 91vh;
    display: flex;
    flex-direction: column;

    &__header {
      padding: 0 1rem;
      width: 100%;
      height: 10%;
      border-bottom: 1px solid #eee;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    }
    &__chat-box {
      padding: 0 1rem;
      display: flex;
      flex-direction: column-reverse;
      width: 100%;
      height: 660px;
      overflow-y: auto;
      flex: 9;

      & > :first-child {
        margin-top: auto !important;
      }

      & .ant-comment-inner {
        padding-bottom: 0px;
      }
    }
    &__input {
      width: 100%;
      height: 15%;
      padding: 1rem;
      flex: 1 1;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        & .ant-form-item {
          margin: 0;

          & .ant-input-affix-wrapper {
            background-color: hsla(333, 87%, 66%, 0.08);
            box-shadow: 0 0 3px hsla(331, 90%, 65%);
            border-radius: 10px;
            border: none;

            &-focused {
              box-shadow: 0 0 5px hsla(331, 90%, 65%);
            }
            & input::placeholder {
              color: hsla(333, 87%, 66%, 0.5);
            }

            & input {
              color: #f45fa3;
            }

            & svg {
              font-size: 1.5rem;
              cursor: pointer;
              color: hsla(333, 87%, 66%, 1);
            }
          }

          & input {
            padding: 0.5rem 1rem !important;
            background-color: transparent;
          }

          & input:focus {
            border-color: transparent;
            box-shadow: transparent;
          }

          & input:hover {
            border-color: transparent;
          }
        }
      }

      & .ant-space-item:first-child {
        width: 100%;
      }

      & textarea {
        width: 100%;
        height: 85%;
        background-color: #f45fa3;
        border-radius: 10px;
        padding: 1rem;
        border: none;
        &:focus {
          outline: none;
        }
      }

      &__btn-send {
        width: 10%;
        height: 100%;
        background-color: #f859a6 !important;
        border: none !important;
      }
    }
  }
  &__3th {
    width: 20%;
    height: 100%;
    border-left: 1px solid #eee;
    padding: 1rem;

    & > .ant-collapse {
      border: none;
      & > .ant-collapse-item {
        background-color: #fff;
        transition: 0.3s;
        &:hover {
          background-color: hsla(331, 92%, 66%, 0.1);
        }
      }
    }
    &__btn {
      cursor: pointer;
      border: none;
      background-color: #fff;
      border-radius: 8px;
      width: 100%;
      height: 40px;

      display: flex;
      align-items: center;

      transition: 0.3s;

      &--block {
        color: red;
      }

      & > p {
        margin: 0 1rem;
      }

      &:hover {
        background-color: hsla(331, 92%, 66%, 0.1);
      }
    }
  }
}

.block-input {
  background-color: hsla(333, 87%, 66%, 1) !important;
  & input::placeholder {
    color: #fff !important;
  }
  & svg {
    color: #f9f9f9 !important;
  }
}

.message-bubble {
  &:not(:first-child) {
    border-bottom: 1px solid #eee;
  }

  & .ant-comment-actions {
    margin-top: 0 !important;
  }
}
