.modal-create-group {
  & .ant-modal-body {
    padding-bottom: 0 !important;
  }
  &__name-group {
    border: none !important;
    border-bottom: 1px solid #eee !important;

    &:focus {
      box-shadow: none !important;
    }
  }

  &__search-member {
    border: 1px solid #eee !important;
    border-radius: 1.15rem !important;

    &:focus {
      border-color: orangered !important;
    }
  }
  &__friend {
    align-items: center !important;

    & h4 {
      margin: 0 !important;
    }
  }

  & .ant-form-item-control-input-content {
    height: 100% !important;
  }
}
