.header-chat {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(to right, #f857a6 0%, #ff5858 51%, #f857a6 100%);
  color: #fff;
}
