.header-chat {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-image: url('../../assets/images/background.png');
  color: #fff;
}
